{% extends 'app/base.html' %}
{% block content %}
    <h1>Secretárias do consultório {{ request.user.consultorio.nome }}</h1>

    {% if secretarias %}
        <ul>
            {% for secretaria in secretarias %}
                <li>{{ secretaria.username }} ({{ secretaria.email }})</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>⚠️ Ainda não há secretárias cadastradas neste consultório.</p>
    {% endif %}

    <a href="{% url 'home' %}">⬅️ Voltar para Home</a>
{% endblock %}